@use 'base/variables' as v;
@use 'base/mixins' as m;

.listado-servicios {
    display: grid;
    gap: 2rem; // Separación hacia abajo

    @include m.tablet {
        @include m.grid(2, 2rem); // 2 columnas con una separación de 2 rem
    }

    .servicio {
        background-color: v.$blanco;
        padding: 3rem;
        border-radius: 2rem; //Esquinas redondeadas
        transition-property: transform; // Busca la propiedad transform y le aplica una animación cuando se pasa con el cursor de un elemento hacia otro
        transition-duration: 300ms;
        text-align: center;

        &.seleccionado {
            //Cambia el color al seleccionar un servicio
            background-color: v.$azul;

            p {
                color: v.$blanco;
            }
        }

        &:hover {
            transform: scale(1.1); // Cuando el cursor se pose sobre el elemento (&:hover), éste se va a agrandar (1.1)
        }

        p {
            color: v.$negro;
            margin: 0 0 calc(v.$separacion / 4) 0; // Separación hacia abajo: calc(v.$separacion / 4)
        }

        .precio-servicio {
            color: v.$azul;
            font-weight: v.$bold;
            font-size: 3rem;
            margin: 0;
        }

    }
}